@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
* {
    font-family: "Shadows Into Light", Arial;
}
body,
html,
div#react-container {
    height: 100%;
    overflow: hidden;
}


body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: brown;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.p {
    font-size: 22px;
    flex-grow: 1;
    padding: 5px;
}
header#App-header h1{

}

div#Board {


}
div#Error{
    background-color: red;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div#Error__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

div#Error__content p{
    margin:0!important;
}

.sticker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div#Sticker {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin: 2px 0;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgb(25, 24, 24);
    margin: 5px ;
}

div#Sticker:active {
    cursor: -webkit-grabbing;
}


div#Sticker:hover span {
    opacity: 1;
}

div#Sticker span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div#Sticker button {
    margin: 2px;
}

div#Sticker textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

div#Board button {
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

div#Date {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    color: black;
    text-shadow: 0 0 5px #000, 0 0 10px #979795, 0 0 7px #979795, 0 0 20px #979795, 0 0 35px #979795, 0 0 40px #979795, 0 0 50px #979795, 0 0 75px #ffffff;

}

#add {
    background-color: #5cb85c;
    height: 3em;
    border-radius: 30px;
}

#edit {
    background-color: #337ab7;
}

#save {
    background-color: #5cb85c;
}

#remove {
    background-color: #d9534f;
}
